*, *::before, *::after {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Убираем подсветку отсортированного столбца */
.ant-table-thead th.ant-table-column-sort {
    background: transparent !important;
}

.ant-table-tbody .ant-table-column-sort {
    background: transparent !important;
}